<ion-header>
  <ion-toolbar>
    <ion-title>
      Tra cứu sản phẩm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Nhập số EMEI phía trên sản phẩm</ion-label>
          <ion-input type="text" formControlName="emei" required></ion-input>
        </ion-item>
        <div margin-vertical text-center>
          <!-- <ion-button type="submit" [disabled]="!form.valid" (click)="checkEMEI()"> -->
          <ion-button type="submit" (click)="checkEMEI()">
            <ion-icon name="search"></ion-icon>
            Tra cứu
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="resSucces == 1">
    <ion-card-content>
      <ion-list>
        <ion-thumbnail class="img-fluid">
          <!-- <ion-img width="160" height="80" [src]="resData?.data.productThumbnail[0] || 'http://demo.cocoshine.net/theme/self/imgs/logo-cocoshine-1.png' "></ion-img> -->
          <img [src]="resData?.data.productThumbnail || imgDefault">
        </ion-thumbnail>
        <ion-item>
            <ion-label>{{resData?.data.productName}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>EMEI: {{txtEmei}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Xác thực: {{resData?.message}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Ngày nhập: {{resData?.data.inStockDate | date: "dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{resData?.data.productStatus}} : {{resData?.data.expireDate | date: "dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Tình trạng BH: {{resData?.data.warrantyFrom | date: "dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Đại lý: {{resData?.data.warehouse.name}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Địa chỉ: {{resData?.data.warehouse.address}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="resSucces == 0">
      <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-label>EMEI không hợp lệ</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <div class="ion-padding">
    <p>{{text}}</p>
    <div margin-vertical text-center>
        <ion-button (click)="onChangeText()" >    
          Change text
        </ion-button>
      </div>
  </div> -->
</ion-content>